body {
  background-color: #f8f9fa; /* Fundo claro */
  font-family: 'Arial', sans-serif;
}

h1 {
  color: #007bff;
  font-weight: bold;
}

.card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  color: #333;
  font-weight: 600;
}

#remaining-balance {
  color: #28a745; /* Verde para saldo positivo */
}

.list-group-item {
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  margin-bottom: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list-group-item .btn {
  font-size: 0.85rem;
}

.input-group input,
.form-control {
  border-radius: 6px;
}

button {
  border-radius: 6px;
}

button:hover {
  opacity: 0.9;
  transition: 0.2s;
}
